// Equipment listing.
.beyond-utils-equipment
	&__active-container
		height: 10px
		margin-top: -16px

	&__item-name
		margin-right: 10px
		float: right

	&__overweight-marker
		position: relative

		svg
			position: absolute
			top: 2px
			left: -26px
			width: 20px
			height: 20px
			fill: #C53131

			.ct-character-sheet--dark-mode &
				fill: #7E4F3D

	&__note
		display: contents

		&:first-child &-item:not(.beyond-utils--is-hidden)
			& ^[-1]-separator
				display: none

			& + ^[-1]-item:not(.beyond-utils--is-hidden) ^[-1]-separator
				display: inline

	&[data-active-container] &__note-amounts
		display: none

// Extra settings in the item pane (inside the customize section).
.beyond-utils-item-pane__settings
	width: 100%

	&__field-wrapper
		display: contents

	&__weight-field
		flex-direction: row-reverse
		align-items: center
		width: auto
		font-size: 10px
		gap: 10px

// Make inventory header + last container name fixed.
body
	--header-height: 0px

	&.ct-character-sheet--going-down .ct-subsection-mobile
		--header-height: 119px

	&.ct-character-sheet--going-up .ct-subsection-mobile
		--header-height: 189.5px

.ct-inventory__row-header
.ct-equipment .ct-content-group__header
	position: sticky
	top: var(--header-height)
	transition: top 0.25s 0.2s
	backdrop-filter: blur(2px)

.ct-inventory__row-header
	z-index: 10

	.ct-character-sheet-mobile &
		padding-top: 4px

.ct-equipment .ct-content-group__header
	z-index: 9

	.ct-character-sheet-desktop &
		top: calc(var(--header-height) + 20.5px)
		padding-top: 2px

	.ct-character-sheet-mobile &
		top: calc(var(--header-height) + 22.5px)
