.beyond-utils-popup
	position: fixed
	z-index: 99999
	inset: 0

	&__shadow
		position: absolute
		inset: 0
		background: #CCCC

		.ct-character-sheet--dark-mode &
			background: #333C

	&__box
		position: absolute
		inset: 25%

	&__inner-box
		position: absolute
		inset: 1.5em 2em
		overflow: auto
