.beyond-utils-popup
	position: fixed
	z-index: 99999
	inset: 0

	.beyond-utils-popup__shadow
		position: absolute
		inset: 0
		background: #333C

	.beyond-utils-popup__box
		position: absolute
		inset: 25%

	.beyond-utils-popup__inner-box
		position: absolute
		inset: 1.5em 2em
