// Add theme settings to the underdark mode widget.
.ct-cta-preference-manager__primary
	flex-wrap: wrap

.beyond-utils-theme-settings
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: space-between
	width: 100%
	margin-top: 0.5em
	color: white
