body
	background-position-y: 188px !important

.ct-character-sheet::before
	height: 74px !important

.ct-character-header-desktop
	height: 90px !important

.ct-quick-info
	margin-top: -8px !important

.ct-cta-preference-manager__primary
	flex-wrap: wrap

.beyond-utils-theme-settings
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: space-between
	width: 100%
	margin-top: 0.5em
	color: white
