body
	--header-height: 0px

	&.ct-character-sheet--going-down .ct-subsection-mobile
		--header-height: 119px

	&.ct-character-sheet--going-up .ct-subsection-mobile
		--header-height: 189.5px

.ct-equipment
	// Hide normal column header.
	.beyond-utils-container + .ddbc-tab-options__body .ct-inventory__row-header
		display: none

	// Move the first container header (Equipment) up so it's always outside the scrollable area, as it will be shown exclusively in the sticky area.
	.beyond-utils-container + .ddbc-tab-options__body .ct-content-group:first-child
		margin-top: -30px // This first header is only 30px because it doesn't have an action.

	.beyond-utils-container
		position: sticky
		top: calc(var(--header-height) + 5px)
		// Needed to avoid erratic behaviour when using the scrollbar, 20px for the column header + 41px for the container header
		height: 61px
		overflow: clip
		transition: top 0.25s 0.2s

		.ct-content-group__header
			height: 41px // Make all headers consistenly sized in the sticky area, even ones without an action (checkbox).

			.ct-equipment__container-action .ct-slot-manager__slot
				opacity: 0.5
				cursor: default !important
