.beyond-utils-about-box
	.beyond-utils-about-box__shadow
		position: absolute
		z-index: 99998
		inset: 0
		background: #333C

	.beyond-utils-about-box__box
		position: absolute
		z-index: 99999
		inset: 25%

	.beyond-utils-about-box__inner-box
		position: absolute
		inset: 1.5em 2em

	.beyond-utils-about-box__link
		color: #704CD9
		font-weight: bold

	.beyond-utils-about-box__settings
		margin-bottom: 15px
