.beyond-utils-about-box
	&__link
		color: #704CD9
		font-weight: bold

	&__settings
		margin-bottom: 15px

	.ct-preferences-pane__field-toggle--disabled
		.ddbc-toggle-field
			background: #CCC
			cursor: default

			&__nub
				background: #DDD

		& .ct-preferences-pane__field-label
		& + p
			opacity: 0.65

.ct-character-manage-pane .beyond-utils-container
	margin-top: 0.5em
