// Make inventory header + last container name fixed.
body
	--header-height: 0px

	&.ct-character-sheet--going-down .ct-subsection-mobile
		--header-height: 119px

	&.ct-character-sheet--going-up .ct-subsection-mobile
		--header-height: 189.5px

.ct-inventory__row-header
.ct-equipment .ct-content-group__header
	position: sticky
	top: var(--header-height)
	transition: top 0.25s 0.2s

	.ct-character-sheet-desktop &
		backdrop-filter: blur(2px)

	.ct-character-sheet-mobile &
		background: white

	.ct-character-sheet-mobile.ct-character-sheet-mobile--dark-mode &
		background: #10161A

.ct-inventory__row-header
	z-index: 10

	.ct-character-sheet-mobile &
		padding-top: 4px

.ct-equipment .ct-content-group__header
	z-index: 9

	.ct-character-sheet-desktop &
		top: calc(var(--header-height) + 20.5px)
		padding-top: 2px

	.ct-character-sheet-mobile &
		top: calc(var(--header-height) + 22.5px)
