@require './picker.styl'
@require './scaling.styl'

body
	overflow-x: hidden
	overflow-y: unset

	// We add a second header to the skills box, but this is only used in certain layouts, so hide it by default.
	.ct-subsection.ct-subsection--skills .ct-skills__header:not(:first-child)
		display: none

	// On mobile you end up with a layout similar to focus where only a single box is displayed at once, so you have extra room available for the columns.
	.ct-subsection-mobile
		--col-grow-unit: 20px

body[data-layout=tall]
	.ct-subsection.ct-subsection--proficiency-groups
		--dynamic-height: calc(var(--subsections-height) - 453px)

	.ct-subsection.ct-subsection--skills
		--dynamic-height: calc(var(--subsections-height) - 25px)

	.ct-subsection.ct-subsection--primary-box
		--dynamic-height: calc(var(--subsections-height) - 130px)

body[data-layout=tall-stacked]
	.ct-subsection.ct-subsection--proficiency-groups
		--dynamic-height: 95px
		top: 0
		left: calc(var(--column-width) + 10px)

	.ct-subsection.ct-subsection--skills
		--dynamic-height: calc(var(--subsections-height) - 453px)
		top: 427px
		left: 0

	.ct-subsection.ct-subsection--primary-box
		--dynamic-height: calc(var(--subsections-height) - 130px)
		--col-grow-unit: 15px
		left: calc(var(--column-width) + 10px)

body[data-layout=stacked]
	.ct-subsection.ct-subsection--combat
		right: auto
		left: 0

		.ct-combat
			width: calc(var(--column-width) * 2 + 4px)

	.ct-subsection.ct-subsection--abilities
		top: 104px

	.ct-subsection.ct-subsection--senses
		top: 316px

	.ct-subsection.ct-subsection--proficiency-groups
		--dynamic-height: 414px
		top: 104px
		left: calc(var(--column-width) + 6px)

	.ct-subsection.ct-subsection--skills
		top: 10
		right: 0
		left: calc(var(--column-width) * 2 + 11px)

		.ct-skills-box
			width: auto
			height: 518px

		.ct-skills__headers
		.ct-skills__list
			column-fill: balance
			column-count: 2
			gap: 24px

		.ct-skills__header
		.ct-skills__item
			display: flex

		.ct-skills__additional--empty
			position: absolute
			right: 0
			left: 0

	.ct-subsection.ct-subsection--primary-box
		--dynamic-height: calc(var(--subsections-height) - 557px)
		--col-grow-unit: 20px
		top: 531px
		left: 0

body[data-layout=focus]
	.ct-subsection.ct-subsection--combat
	.ct-subsection.ct-subsection--abilities
	.ct-subsection.ct-subsection--senses
	.ct-subsection.ct-subsection--proficiency-groups
	.ct-subsection.ct-subsection--skills
		display: none

	.ct-subsection.ct-subsection--primary-box
		--dynamic-height: calc(var(--subsections-height) - 26px)
		--col-grow-unit: 20px
		top: 0
		left: 0

// All layouts except for the default use the full height of the page, so make the sidebar height scale as well for these layouts.
body[data-layout]:not([data-layout=default])
	@media (min-width 1200px)
		.ct-sidebar
			height: calc(var(--subsections-height) + 176px)
