body
	overflow-y: unset
	overflow-x: hidden

.dnd-utils-container.ct-character-header-desktop__group--beyond-utils
	--width-prev-button: 130px
	position: relative
	display: block
	margin-right: -4px
	width: 54px
	&:last-child
		margin-right: -16px
	.ct-character-header-desktop__group--campaign + &
		--width-prev-button: 179px
#utils-layout-button
	--fill-color: white
	transition: left 0.5s
	position: absolute
	display: flex
	justify-content: end
	align-items: center
	left: -20px
	right: 7px
	top: -32px
	padding: 1em
	background: #252525

	.layout-button
		--size: 0
		width: calc(var(--size) * 1px)
		height: calc(var(--size) * 1px)
		margin: 2px 0

		transition: width 0.5s, height 0.5s, margin 0.5s, opacity 0.5s
		position: relative
		display: block

		fill: var(--fill-color)
		opacity: 0

		svg
			min-height: 34px
			min-width: 34px
			width: 512px
			height: 512px
			transition: transform 0.5s
			transform: scale(calc(var(--size) / 512))
			transform-origin: top left

	&:hover
		left: calc(-1 * var(--width-prev-button) - 20px)

		.layout-button
			--size: 34
			opacity: 1

			&:hover
				--size: 38
				filter: brightness(150%)
				margin: 0 -2px

	&:not(:hover) .layout-button::before
		opacity: 0
		top: -4px !important

	.ct-character-sheet[data-layout=default] & .layout-button[data-layout=default]
	.ct-character-sheet[data-layout=tall] & .layout-button[data-layout=tall]
	.ct-character-sheet[data-layout=stacked] & .layout-button[data-layout=stacked]
	.ct-character-sheet[data-layout=focus] & .layout-button[data-layout=focus]
		opacity: 1

		&:not(:hover)
			--size: 34

		&::before
			content: '▼'
			position: absolute
			transition: opacity 0.5s, top 0.5s
			color: var(--fill-color)
			top: -15px
			left: 10px

.ct-character-sheet
	// The boxes all contain some elements that have a fixed height, making it hard to change the height of the box. Override all those height based on a single variable to fix this.
	.ct-subsection.ct-subsection--abilities
		--dynamic-height: 200px
		.ct-saving-throws-box
			height: var(--dynamic-height)
	.ct-subsection.ct-subsection--senses
		--dynamic-height: 200px
		.ct-senses-box
			height: var(--dynamic-height)
	.ct-subsection.ct-subsection--proficiency-groups
		--dynamic-height: 338px
		.ct-proficiency-groups-box
			height: var(--dynamic-height)
		.ct-proficiency-groups
			height: calc(var(--dynamic-height) - 38px)
	.ct-subsection.ct-subsection--skills
		--dynamic-height: 765px
		.ct-skills-box
			height: var(--dynamic-height)
		.ct-skills__list
			max-height: calc(var(--dynamic-height) - 65px)
	.ct-subsection.ct-subsection--primary-box
		--dynamic-height: 660px
		.ct-primary-box
			height: var(--dynamic-height)
		.ddbc-tab-list__content
			height: calc(var(--dynamic-height) - 57px)
		.ddbc-tab-options__content
			height: calc(var(--dynamic-height) - 100px)
		.ct-spells
		.ct-equipment
		.ct-extras
			height: calc(var(--dynamic-height) - 60px)

	// We add a second header to the skills box, but this is only used in certain layouts, so hide it by default.
	.ct-subsection.ct-subsection--skills .ct-skills__header:not(:first-child)
		display: none

	// Some layouts have larger widths for the primary box and the tables therein, so scale column widths with this.
	.ct-subsection.ct-subsection--primary-box
	.ct-subsection-mobile
		--col-grow-unit: 0px
		grow(initial, scale) 
			s('calc(%s + %s * var(--col-grow-unit))', initial, scale)

		.ddbc-attack-table__col--name
		.ddbc-combat-attack__name
			width: grow(140px, 3)
		.ddbc-attack-table__col--range
		.ddbc-combat-attack__range
			width: grow(55px, 1)
		.ddbc-attack-table__col--tohit
		.ddbc-combat-attack__action
			width: grow(55px, 0.5)
		.ddbc-attack-table__col--damage
		.ddbc-combat-attack__damage
			width: grow(80px, 1)

		.ct-spells-level__spells-col--name
		.ct-spells-spell__name
			width: grow(135px, 3)
		.ct-spells-level__spells-col--activation
		.ct-spells-spell__activation
			width: grow(35px, 0.5)
		.ct-spells-level__spells-col--range
		.ct-spells-spell__range
			width: grow(55px, 1)
		.ct-spells-level__spells-col--tohit
		.ct-spells-spell__attacking
			width: grow(45px, 0.5)
		.ct-spells-level__spells-col--damage
		.ct-spells-spell__damage
			width: grow(85px, 1)

		.ct-inventory__col--name
		.ct-inventory-item__name
			width: grow(150px, 3)
		.ct-inventory__col--weight
		.ct-inventory-item__weight
			width: grow(40px, 1)
		.ct-inventory__col--qty
		.ct-inventory-item__quantity
			width: grow(35px, 1)
		.ct-inventory__col--cost
		.ct-inventory-item__cost
			width: grow(50px, 1)
	.ct-subsection-mobile
		--col-grow-unit: 20px

	&[data-layout=tall]
		.ct-subsection.ct-subsection--proficiency-groups
			--dynamic-height: calc(100vh - 734px)
		.ct-subsection.ct-subsection--skills
			--dynamic-height: calc(100vh - 306px)
		.ct-subsection.ct-subsection--primary-box
			--dynamic-height: calc(max(100vh, 800px) - 411px)

	&[data-layout=stacked]
		.ct-subsection.ct-subsection--combat
			left: 0
			right: auto
			.ct-combat
				width: 464px

		.ct-subsection.ct-subsection--abilities
			top: 104px

		.ct-subsection.ct-subsection--senses
			top: 316px

		.ct-subsection.ct-subsection--proficiency-groups
			--dynamic-height: 414px
			left: 236px
			top: 104px

		.ct-subsection.ct-subsection--skills
			left: auto
			right: 0
			top: 10

			.ct-skills-box
				width: 520px
				height: 518px
			.ct-skills__headers
			.ct-skills__list
				column-count: 2
				column-fill: balance
				gap: 24px
			.ct-skills__header
			.ct-skills__item
				display: flex
				width: 225px
			.ct-skills__additional--empty
				position: absolute
				left: 0
				right: 0

		.ct-subsection.ct-subsection--primary-box
			--dynamic-height: calc(max(100vh, 1200px) - 838px)
			--col-grow-unit: 15px
			top: 531px
			left: 0
			width: 100%
			padding-bottom: 1.5em

			.ct-primary-box
				width: auto

	&[data-layout=focus]
		.ct-subsection.ct-subsection--combat
		.ct-subsection.ct-subsection--abilities
		.ct-subsection.ct-subsection--senses
		.ct-subsection.ct-subsection--proficiency-groups
		.ct-subsection.ct-subsection--skills
			display: none

		.ct-subsection.ct-subsection--primary-box
			--dynamic-height: calc(max(100vh, 1200px) - 331px)
			--col-grow-unit: 15px
			top: 0
			left: 0
			width: 100%
			padding-bottom: 1.5em

			.ct-primary-box
				width: auto
